
.paginator {
    max-resolution: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    font-size: 1.2em;
    color: gold;
}


/*.selectedPage{*/
/*    font-weight: bold;*/
/*    font-size: 1.2em;*/
/*    color: gold;*/
/*   }*/